
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>hearthstone webshop</title>


    @Styles.Render("~/Content/css")

    <link href="~/Content/styles/carousel.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <!--https://www.easyicon.net/language.en/1194625-Hearthstone_icon.html-->
                    <img src="~/Content/images/logo.png" class="logo rotating" />
                </div>
                <div class="col-lg-11 title">
                    Clonestone Card Shop
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                @if (Request.IsAuthenticated)
                {
                    <div class="col-lg-2"><p>@Html.ActionLink("Shop", "Packs", "Shop")</p></div>
                }
                else
                {
                    <div class="col-lg-2"><p>@Html.ActionLink("Shop", "Index", "Shop")</p></div>
                }
                <div class="col-lg-2"><p>@Html.ActionLink("Karten-Deck", "Index", "Deck")</p></div>
                @if (Request.IsAuthenticated)
                {
                    <div class="col-lg-2"><p>@Html.ActionLink("Profil", "Edit", "User")</p></div>
                }
                else
                {
                    <div class="col-lg-2"><p>@Html.ActionLink("Registrieren", "Register", "User")</p></div>
                }


                @Html.Partial("~/Views/User/_Login.cshtml", new hearthstone.web.Models.LoginModel())
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    &copy; 2017 ACME, Inc.
                </div>
                <div class="col-lg-4">
                    @Html.ActionLink("Terms&Conditions", "Terms", "Shop")
                </div>
                <div class="col-lg-4">
                    @Html.ActionLink("Privacy", "Privacy", "Shop")
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")

    <script type="text/javascript">
        @if (TempData["error"]!=null)
        {
            <text>toastr["error"]("@TempData["error"]");</text>
        }
        @if (TempData["success"] !=null)
         {
             <text>toastr["success"]("@TempData["success"]");</text>
         }
        @if (TempData["warning"] !=null)
          {
            <text>toastr["warning"]("@TempData["warning"]");</text>
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
