@model hearthstone.web.Models.LoginModel
@using (Html.BeginForm("Login", "User"))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-2">
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Benutzer" })
        <!--<input type="text" placeholder="Benutzer" class="form-control">-->
        @Html.ValidationMessageFor(x => x.Username, "*")
    </div>
    <div class="col-lg-2">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Passwort" })
        <!--<input type="password" placeholder="Passwort" class="form-control">-->
        @Html.ValidationMessageFor(x => x.Username, "*")
    </div>
    <div class="col-lg-2"><button type="submit" class="btn">Anmelden</button></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}